.super-mario {
    position: absolute;
    bottom: 150px;
    width: 200px;
  }
  
  .goomba {
    position: absolute;
    bottom: 10px;
    left: 130px;
    width: 100px;
  }
  
  .baloon {
    position: absolute;
    left: 250px;
    bottom: 180px;
  
  }
  
  .frase-balao {
    position: absolute;
    top: 300px;
    left: 270px;
    font-size: 25px;
    z-index: 4;
  }
  
  .bowser {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 200px;
  }